<div class="row">

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2">
        <img src="/assets/images/logo.png" width="60px" height="45px" class="px-2 mx-2" alt="avatar" />
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2 d-flex justify-content-center align-items-center">
        <span style="font-weight: bold; font-size: 16px;">Add Product Type</span>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mb-2 d-flex justify-content-end align-items-center">
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <form class="onboard-form m-2" [formGroup]="typeForm">
        <div class="row">

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Product type name</mat-label>
                    <input matInput formControlName="typeOfProduct" required />
                    <mat-icon matSuffix>format_align_justify</mat-icon>
                    <mat-error *ngIf="typeForm.get('typeOfProduct')?.hasError('required')">
                        Product category is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Product type description</mat-label>
                    <input matInput formControlName="description" required />
                    <mat-icon matSuffix>short_text</mat-icon>
                    <mat-error *ngIf="typeForm.get('description')?.hasError('required')">
                        Product Description is required
                    </mat-error>
                </mat-form-field>
            </div>


            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Units of measurement</mat-label>
                    <mat-select formControlName="units" required>
                        <mat-option value="HEADS">Heads</mat-option>
                        <mat-option value="KGS">Kgs</mat-option>
                        <mat-option value="LITRES">Litre</mat-option>
                        <mat-option value="TRAYS">Trays</mat-option>
                    </mat-select>
                    <mat-error *ngIf="typeForm.get('units')?.hasError('required')">
                        Role is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Product category</mat-label>
                    <mat-select formControlName="categoryId" required>
                        <mat-option *ngFor="let category of this.productCategory" [value]="category.id">
                            {{ category.productCategory }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="typeForm.get('categoryId')?.hasError('required')">
                        Category is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <div class="example-button-row" align="end">
                        <button mat-raised-button color="primary" [disabled]="!typeForm.valid" (click)="submit()">
                            Save
                        </button>
                        <button mat-raised-button color="warn" (click)="onClick()" tabindex="-1">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>