<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
    <p class="m-b-0" style="font-size: 17px; font-weight: 500;">Transactions across farmer</p>
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
        [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip" [dataLabels]="chartOptions.dataLabels"
        [legend]="chartOptions.legend" [markers]="chartOptions.markers" [grid]="chartOptions.grid"
        [yaxis]="chartOptions.yaxis" [title]="chartOptions.title"></apx-chart>
</div>